.paperMenuContainer .title-wrapper {
    height: var(--MuiDocs-header-height);
    line-height: var(--MuiDocs-header-height);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-style: italic;
    color: rgb(0, 127, 255);
}