.paperMenuContainer .title-wrapper {
    height: var(--MuiDocs-header-height);
    line-height: var(--MuiDocs-header-height);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-style: italic;
    color: rgb(0, 127, 255);
}

.mainMenuText span {
    font-weight: 700;
}

.factorsUsage {
    display: flex;
    align-items: center;
}

.factorsUsage p{
   margin-left: 1rem;
}