
@import "Root.css";

.AppContainer {
  display: flex;
}

body {
  margin: 0;
  color: #1A2027;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
}

.navContainer {
  width: var(--MuiDocs-navDrawer-width);
  height: 100vh;
}

.navContainer .navListWrap{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  width: var(--MuiDocs-navDrawer-width);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.headerContainer {
  width: calc(100% - var(--MuiDocs-navDrawer-width));
  color: #1A2027;
  background-image: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  background-color: #007FFF;
  padding: 8px 16px;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  backdrop-filter: blur(8px);
  border-style: solid;
  border-color: #E7EBF0;
  border-width: 0;
  border-bottom-width: thin;
  background-color: rgba(255,255,255,0.8);
}

.mainContainer {
  flex: 1
}

.mainInnerContainer {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-top: calc(var(--MuiDocs-header-height) + 36px);
  max-width: 116ch;
  position: relative;
  padding-bottom: 5rem;
}